@import 'animations.css';
*{
	margin:0;
}
body{
	background: url(../images/roadBW.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-repeat:no-repeat;
	background-size: 100%;
	width: 100vw;
	text-shadow: 3px white;
	color: white;
	font-size: 1.4em;
	font-family: ostrich;
}
abbr{
	text-decoration: none;
}
h1{
	font-size: 4em;
	font-family: horror;
	color:#813131;
	margin-top: 0;
	position: fixed;
	top:0;
	width: 100%;
	text-align: left;
	text-shadow: 0px 2px 10px red;
	z-index: 3;
	background:linear-gradient(to top, #333 5%, gray 7%, gray 9%, #333 11%);
}
h2{
	color:#fff;
	text-align: right;
	opacity: .3;
	position: fixed;
	top: 40%;
	right:0%;
	display: inline-block;
	animation-name:rotate;
	animation-duration:2s;
	transform: rotate(-90deg);
	margin-left: -12vw;
}
a{
	color:#813131;
	text-decoration: none;
	text-shadow: 2px 0px #222;
}
ul{
	list-style-type: none;
}
aside{
	background:linear-gradient(to bottom, #333 5%, gray 7%, gray 9%, #333 11%);
	position: fixed;
	width: 100%;
	background-position: center;
	bottom: 0;
	height: 20vh;
	text-align: left;
}
footer{
	height: 20vh;
	font-family: horror;
	font-size: 2em;
	margin: auto;
	margin-bottom: 5vh;
	text-align: center;
	background-color: #222;
}
.main h3{
	color: #813131;
	font-size: 2.5em;
	text-shadow: 0px 2px 5px red;
	font-family: horror;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
}
.main p{
	font-size: 1.3em;
	width: 50%;
	margin: auto;
	text-align: center;
	text-indent: 2em;
	text-shadow: 0px 1px 1px red;
}
.participation, .requirements{
	background-color: #222;
}
.preamble{
	color:#fff;
	background-color: #222;
	text-shadow: 0px 3px 5px #222;
	animation-name:inFade;
	animation-duration:2s;
	text-align: center;
	width: 100%;
	margin:15vh auto;
	margin-bottom: 0;
}
.preamble h3{
	font-size: 2em;
	text-align: center;
	text-shadow: 0px 2px 10px red;
	font-family: horror;

}
.preamble p{
	width: 35%;
	font-size: 1.1em;
	text-indent: 2em;
	margin: auto;
	text-align: center;
	color:#813131;
}
.requirements{
	width: 100vw;
}
.summary{
	color: #fff;
	position: fixed;
	background: inherit;
	text-shadow: 0px 2px 10px red;
	text-align: right;
	width: 70%;
	z-index: 3;
	top: 2%;
	right:2%;
}
.zen-resources, .design-archives,.design-selection{
	margin:0 10px;
}
.design-archives li, .zen-resources li{
	display: inline-block;
}
.design-archives, .zen-resources{
	margin-top: 5vh;
}
.resources, .archives,.design-selection{
	position: fixed;
}
.sidebar h3{
	font-family: horror;
	text-shadow: 0px 2px 10px red;
	margin-top: -3vh;
	font-size: 1.5em;
}
.design-selection{
	text-align: right;
	right:0%;
	width: 60%;
	animation:slideFromLeft;
	animation-duration:.5s;
}
.design-selection li {
	display: inline-block;
	padding:.5em;
	width: 5vw;
	height:100%;
	text-align: left;
	box-shadow: 10px #fff;
	opacity: .75;
}
.design-selection li:hover{
	background-color: gray;
	opacity: 1;
}
.design-selection li a:first-of-type{
	display: block;
	margin: auto;
}
.design-selection li a:last-of-type{
	margin-left: 10px;
	color:#fff;
}
.resources, .archives a{
	display: inline;
}
.supporting{
	width: 100vw;
	margin-top: 10vh;
}
.supporting div{
	margin-bottom: 10vh;
}
@font-face {
  font-family: ostrich;
  src: url("../fonts/OstrichSans-Heavy.otf");
}
@font-face {
  font-family: horror;
  src: url("../fonts/Horrormaster.ttf");
}
