@import 'animations.css';

body{
	background:linear-gradient(to right, #222 20%, gray 22%, #222 23%, gray 24%, #222 26%);
	color: #FFE2A9;
	font-size: 1.4em;
	font-family: ostrich;
	width: 80%;
}
abbr{
	text-decoration: none;
}
h1{
	font-size: 3em;
	color:#AA3F39;
	margin-top: 0;
	position: fixed;
	top:0;
	width: 100%;
	font-family: sinCity;
	animation-name:inFade;
	animation-duration:4s;
	text-align: center;
	text-shadow:3px 1px #fff;
	z-index: 3;
	background-image:url("../images/roadBW.jpg");
}
h2{
	color:gray;
	text-align: right;
	font-family: Helvetica;
	opacity: .3;
	position: fixed;
	top: 40%;
	right:-10%;
	display: inline-block;
	animation-name:rotate;
	animation-duration:2s;
	transform: rotate(-90deg);
	margin-left: -12vw;
}
a{
	color:#AA3F39;
	text-decoration: none;
}
a:hover{
	transform:scale(1.1);
	animation:enlarge;
	animation-duration:.5s;
}
ul{
	list-style-type: none;
}
aside{
	position: fixed;
	background-image:url("../images/botRoadBW.jpg");
	background-size: 5000px;
	background-repeat:no-repeat;
	width: 100%;
	background-color: #222;
	background-position: center;
	bottom: 0;
	height: 20%;
	text-align: left;
}
footer{
	text-align: center;
}
.main{
	padding: 1.5em;
	padding-right: 2em;

}
.main h3{
	margin-bottom: 0px;
	margin-left: 5%;
	font-family: sinCity;
	font-size: 1.5em;
	width: 100%;
	text-shadow: 2px 3px #671416;
	text-align: left;
}
.main p{
	margin:auto;
	line-height: 2em;
	margin-top: 0;
	margin-left: 4%;
	text-indent: 2em;
	text-shadow: 1px 1px #222;
}
.preamble{
	padding: 1.5em;
	animation-name:inFade;
	animation-duration:8s;
	margin-bottom: 0;
	margin-top: 10%;
	max-width: 720px;
}
.preamble h3{
	font-family: sinCity;
	color: #AA3F39;
	text-align: center;
}
.preamble p{
	text-indent: 2em;
	padding:0 10px;
}
.summary{
	color: #666;
	min-width: 360px;
	float: right;
	padding:2.5em;
	margin-right: -20%;
	text-align: center;
	width: 25%;
}
.zen-resources, .design-archives,.design-selection{
	margin:0 10px;
}
.design-archives li, .zen-resources li{
	display: inline-block;
}
.design-archives, .zen-resources{
	margin-top: 5vh;
}
.resources, .archives,.design-selection{
	position: fixed;
}
.sidebar h3{
	font-size:1.2em;
	display: block;
	margin-top: -3vh;
}
.resources, .archives,.design-selection{
	float: left;
}
.design-selection{
	text-align: right;
	right:5%;
	width: 60%;
	animation:slideFromLeft;
	animation-duration:.5s;
}

.design-selection li {
	display: inline-block;
	background-color: #333;
	padding:.5em;
	text-align: left;
	box-shadow: 10px #fff;
	font-size: .6em;
	opacity: .75;
}

.design-selection li:hover{
	background-color: gray;
	margin-top: -1vh;
	transform:scale(1.1);
	animation:enlarge;
	animation-duration:.5s;
	opacity: 1;
}
.design-selection li a:first-of-type{
	display: block;
}
.design-selection li a:last-of-type{
	margin-left: 10px;
	color:#FFE2A9;
	font-weight: normal;
}
.resources, .archives a{
	display: inline;
}
.supporting{
	max-width: 960px;
}
@font-face {
    font-family: sinCity;
    src: url("../fonts/Sin City.ttf");
}
@font-face {
    font-family: ostrich;
    src: url("../fonts/OstrichSans-Heavy.otf");
}
