body{
	background-color: #222;
	color: #FFE2A9;
	font-size: 1.5em;
	font-family: "Ubuntu mono";
}
abbr{
	text-decoration: none;
}
h1{
	font-size: 4em;
	color:#AA3F39;
	background-color: #4A4343;
	box-shadow: 60px 30px 80px #222;
	margin-right: 0;
	margin-top: 0;
	position: fixed;
	font-family: "Cousine";
	animation-name:inFade;
	animation-duration:4s;
}	
h2{
	color:#AA3F39;
	text-align: right;
	font-family: "Pacifico";
	opacity: .5;
	position: fixed;
	margin-top: 70vh;
	animation-name:rotate;
	animation-duration:2s;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform:rotate(-90deg);
	margin-left: -10vw;
}
a{
	color:#AA3F39;
	text-decoration: none;
	font-weight: bold;
}
ul{
	list-style-type: none;
}
nav ul{
}
nav li{
	
}

footer{
	text-align: center;
}
.main{
	padding: 1.5em;
	background-color:#4A4343;
	width:50vw;
	float:right;
	margin-top: 0;
}
.main h3{
	color:#AA3939;
	margin-bottom: 0px;
	font-family: "Pacifico";
	font-size: 1.5em;
	border-bottom: 2px groove; 
	width: 45%;
}
.main p{
	margin:auto;
	margin-top: 0;
	margin-bottom: 4%;
	margin-left: 4%;
	text-indent: 2em;
}
.design-archives, .design-selection, .zen-resources{
	text-align: right;
}
.design-selection{
	width: 30vw;
	margin-top: -10vh;
	background-color: #222;
	text-align: left;
	margin-left: 0;
}
.design-selection ul{
	margin-top: 0;
}
.design-selection li {
	display: flex;
	background-color: #4A4343;
	margin: 2%;
	padding:1em;
	text-align: center;
}
.design-selection li:hover{
	margin-left: 5%;
	transform:scale(1.1);
	background-color: gray;
}
.design-selection li a:first-of-type{
	margin-right: 10px;
}
.design-selection li a:last-of-type{
	margin-left: 10px;
}
.preamble{
	width:20vw;
	background-color:#4A4343;
	padding: 1.5em;
	float: right;
	min-width: 540px;
	margin: 5%;
	margin-right: 30vw;
	margin-top: 0;
	box-shadow: 10px 11px 11px #AA3939;
	animation-name:inFade;
	animation-duration:2s;
}
.preamble h3{
	color: #AA3939;
}
.summary{
	background-color: #222;
	max-width: 10vw;
	min-width: 360px;
	padding:2.5em;
	box-shadow: 20px 40px 0px #4A4343;
	margin-left: 70vw;
}
.zen-resources, .design-archives{
	clear:both;
}
.design-archives li, .zen-resources li{
	display: inline-block;
}
.supporting{
	margin:10vw 20vw;
}
@keyframes inFade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
		margin-left: 0;
		margin-top: -90vh;
	}
	to {
		transform: rotate(-90deg);
		margin-left: -10vw;
	}
}