@import 'animations.css';

body{
	background:linear-gradient(to top left, #222 30%,#4A4343 40%, #333 41%,red 50%,#333 59%,#4A4343 60%,#222 70%);
	color: #FFE2A9;
	font-size: 1.5em;
	font-family: Helvetica;
}
abbr{
	text-decoration: none;
}
h1{
	font-size: 4em;
	color:#AA3F39;
	box-shadow: 60px 30px 80px #222;
	margin-right: 0;
	margin-top: 0;
	position: fixed;
	font-family: "Ubuntu mono";
	animation-name:inFade;
	animation-duration:4s;
	text-shadow:3px 1px #222;
	z-index: 15;
}	
h2{
	color:#AA3F39;
	text-align: right;
	font-family: Helvetica;
	opacity: .5;
	position: fixed;
	margin-top: 35vh;
	animation-name:rotate;
	animation-duration:2s;
	transform: rotate(-90deg);
	margin-left: -10vw;
}
a{
	color:#AA3F39;
	text-decoration: none;
}
ul{
	list-style-type: none;
}
aside{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background-color: #4A4343;
  text-align: left;
  margin-left: -.5vw;
}
footer{
	text-align: center;
}
.main{
	padding: 1.5em;
	padding-right: 2em;
	background-color:#4A4343;
	width:50vw;
	float:left;
	box-shadow:4px 0px #222;
	opacity: .94;
}
.main h3{
	color:#AA3939;
	margin-bottom: 0px;
	font-family: "Ubuntu mono";
	font-size: 1.5em;
	border-bottom: 2px groove; 
	width: 45%;
}
.main p{
	margin:auto;
	margin-top: 0;
	margin-left: 4%;
	text-indent: 2em;
}

.preamble{
	width:600px;
	border-radius: 50%;
	background-color:#333;
	padding: 1.5em;
	float: right;
	margin: 5%;
	margin-right: 60vw;
	margin-top: 5vh;
	box-shadow: 10px 11px 11px #AA3F39;
	animation-name:inFade;
	animation-duration:2s;
}
.preamble h3{
	color: #AA3F39;
	font-family: impact;
	text-align: center;
	font-weight: normal;
}
.preamble h3, .preamble p{
	transform:scale(.8);
	padding-left: 2.5vw;
}
.preamble p{
	color:#fff;
	width: 80%;
	margin:auto;
	text-indent: 2em;
	padding:0 10px;
}
.summary{
	max-width: 30vw;
	min-width: 360px;
	padding:2.5em;
	box-shadow: 1px 4px 0px red;
	margin-left: 40vw;
}
.zen-resources, .design-archives,.design-selection{
	margin:0 10px;
}
.design-archives li, .zen-resources li,.design-selection li{
	display: inline-block;
}
.design-archives, .zen-resources{
	margin-top: 5vh;
}
.resources, .archives,.design-selection{
	position: fixed;
	transform:scale(.8);
	width: 35vw;
	font-size: .8em;
}
.resources, .archives{
	float: left;
}
.design-selection{
	text-align: right;
	margin-top: -9vh;
	margin-left: 65vw;
	float: right;
}
.design-selection ul{
}
.design-selection li {
	background-color: #4A4343;
	padding:.5em;
	text-align: left;
}

.design-selection li:hover{
	margin-left: 5%;
	transform:scale(1.1);
	background-color: gray;
}
.design-selection li a:first-of-type{
	font-size:1.2em;
	display: block;
}
.design-selection li a:last-of-type{
	margin-left: 10px;
	color:#FFE2A9;
	font-weight: normal;
}
.resources, .archives a{
	display: inline;
}
.supporting{
	margin:10vw 20vw;
}
