body{
	background-color: #4A4343;
	color: #FFE2A9;
	font-size: 1.5em;
	font-family: "Ubuntu mono";
}
h1{
	font-size: 4em;
	color:#AA3F39;
	background-color: #222;
	box-shadow: 60px 30px 80px #AA3F39;
	margin-right: 0;
}
h2{
	color:red;
	text-align: right;
	font-family: "Pacifico";
	opacity: .5;
}
a{
	color:#AC3939;
	text-decoration: none;
	font-weight: bold;
}
ul{
	list-style-type: none;
}
li{
	display: inline;
}
.main h3{
	color:#AA3939;
	margin-bottom: 0px;
	font-family: "Pacifico";
	font-size: 1.5em;
	border-bottom: 2px groove; 
	width: 35%;
}
.main p{
	margin:auto;
	margin-top: 0;
	margin-bottom: 4%;
	margin-left: 4%;
	text-indent: 2em;
}

.design-archives, .design-selection, .zen-resources{
	background-color:#222;
	padding: 2.5em;
	text-align: right;
}
.design-selection li {
	display: block;

}
.preamble{
	width:20vw;
	background-color:#4A4343;
	padding: 1.5em;
	float: left;
	min-width: 540px;
	box-shadow: 10px 11px 11px #AA3939;
}
.preamble h3{
	color: #AA3939;
}
.summary{
	float: right;
	background-color: #4A4343;
	max-width: 10vw;
	min-width: 360px;
	padding:2.5em;
	box-shadow: 20px 40px 0px #4A4343;
}
.main{
	padding: 1.5em;
	background-color:#4A4343;
	width:50vw;
	min-width:500px;
	float:right;
}

.supporting{
	margin:10vw 20vw;
}
